@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

    --dark: #000000;
    --accent: #0000ff;
    --secondary: #e3e3e3;
    --light: #f7f7f7;
}

body {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Archivo', sans-serif; */
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: var(--dark);
    background-color: var(--light);
}

nav,
.hero,
footer {
    display: flex;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    padding: 1rem;
}

nav,
h1,
h2,
.card-header {
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
}


.logo {
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
}

nav ul {
    display: flex;
    margin-left: auto;
    gap: 16px;
}

.body {
    flex: 1;
}

.hero {
    display: flex;
    gap: 3rem;
    padding: 4rem 0 4rem 6rem;
}

.hero div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
}

.small {
    font-size: 16px;
    color: var(--secondary);
}

.hero img {
    width: 60%;
    height: auto;
}

.section-a {
    padding: 80px;
    text-align: center;
}

.container {
    margin-top: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
}

.info {
    max-width: 200px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info img {
    border-radius: 15px;
}

.quote-section {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 15vw;
}

.quote {
    font-weight: light;
    font-style: italic;
    font-size: 36px;
}

.quote-tag {
    text-align: right;
    font-weight: bold;
    margin-top: 2rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    margin: 6rem auto;
    padding: 3rem 2rem;
    max-width: 800px;

    background-color: var(--accent);
    color: var(--light);
    border-radius: 16px;
}

.card-header {
    font-weight: bolder;
    font-size: 24px;
}

button {
    font-family: 'Inter', sans-serif;
    flex-shrink: 0;
    padding: 8px 32px;
    border: none;
    background-color: var(--accent);
    color: var(--light);
    border-radius: 8px;
    font-size: 18px;
}

.secondary-button {
    border: solid var(--light);
}

footer {
    justify-content: center;
}